<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>secretspot.se</SiteUrlToLaunchAfterPublish>
    <!-- true: App_Data innehåller bildspelen och Data Protection-nyckeln. Utan skip-regeln
         räcker det att kryssa i "Ta bort ytterligare filer på destinationen" för att radera dem. -->
    <ExcludeApp_Data>true</ExcludeApp_Data>
    <ProjectGuid>f1551373-5567-4b2d-8849-cc8163f15c9f</ProjectGuid>
    <SelfContained>true</SelfContained>
    <MSDeployServiceURL>nt44.unoeuro.com</MSDeployServiceURL>
    <DeployIisAppPath>secretspot.se</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>secretspot.se</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
  </PropertyGroup>
</Project>