<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <!-- processPath/arguments skrivs om av dotnet publish. -->
      <aspNetCore processPath="%LAUNCHER_PATH%"
                  arguments="%LAUNCHER_ARGS%"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\App_Data\logs\stdout"
                  hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>

      <security>
        <requestFiltering>
          <!-- 10,5 MB: medvetet över appens 10 MB så att appen hinner svara 400 i stället för IIS 404.13. -->
          <requestLimits maxAllowedContentLength="11010048" />
          <hiddenSegments>
            <!-- IIS blockerar redan App_Data. Utan <remove> blir <add> en dubblettnyckel och siten svarar 500.19. -->
            <remove segment="App_Data" />
            <add segment="App_Data" />
          </hiddenSegments>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
